@import 'custom_variable.scss';

.circle-image {
    border-radius: 50%;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}
.text-align-center {
    text-align: center;
}

.align-item-center {
    display: flex;
    align-items: center
}

.line-divider {
    background-color:#d5d5d5;
}

.full-fill-red-icon {
    background-color: $color_red;
}

.white-icon {
    color: white;
}

.cancel-button {
    --color: $color_gren_dark;
}

.done-button {
    --color: #0095F6;
    font-weight: bold;
}

.tab-bar-icon {
    color: $color_dark;
}

.bacground-color-grey {
    background-color: $color_gren;
}

.custom-icon-size-small {
    font-size: 24px;
}

.bottom-tab-bar-background-color {
    color: #FBFAFA
}

.bottom-icon-height {
    height: 45px !important;
}
