@import './custom_variable';

.circle-image {
    border-radius: 50%;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}
.text-align-center {
    text-align: center;
}

.align-item-center {
    display: flex;
    align-items: center
}

.line-divider {
    background-color: $color_grey_light;
}

.full-fill-red-icon {
    background-color: $color_red;
}

.white-icon {
    color: white;
}

.cancel-button {
    --color: $color_grey_dark;
}

.done-button {
    color: $color_blue;
    font-weight: bold;
}

.tab-bar-icon {
    color: $color_grey_very_dark;
}

.bacground-color-grey {
    background-color: $color_grey_medium;
}

.custom-icon-size-small {
    font-size: 24px;
}

.bottom-tab-bar-background-color {
    color: $color_grey_light;
}

.bottom-icon-height {
    height: 45px !important;
}

ion-toolbar {
    --background: #FBFAFA;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-button {
  
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.flip-in-hor-top {
	-webkit-animation: flip-in-hor-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

.white-icon {
  color: white;
}
